doctype html
html(lang='ko')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport' content='width=device-width', initial-scale='1')
        meta(name='description' contents='openshift Api')
        meta(name='author' contents='kikimans.lucas@gmail.com')
        title OPENSHIFT Potal
        block headstylesheet
        script(src='/javascripts/ie/ie-emulation-modes-warning.js')
    body
        block navbar
        block content
        block bodyscript
